<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render 'form', user: @user, book: @book %>
    </div>
    <div class="col-8">
      <table class="table">
        <tr>
          <%= render 'thead' %>
        </tr>
        <tr>
          <td>
            <% if @book.user.profile_image.attached? %>
              <%= image_tag @book.user.profile_image,size:"100x100" %>
            <% else %>
              <%= image_tag 'no_image', size: "100x100" %>
            <% end %>
          </td>
          <td><%= @book.title %></td>
          <td><%= link_to @book.option, book_path(@book) %></td>
          <% if @user == current_user %>
          <td><%= link_to "Edit", edit_book_path(@book) %></td>
          <td><%= link_to "Destroy", book_path(@book), method: :delete %></td>
          <% end %>
        </tr>
      </table>
    </div>
  </div> 
</div>